---
layout: layout
title: Accueil
tabs_priority: 10
---
  <div id="photos"></div>
  <div class="row">
    <div class="span4">
      <div>
        <p>
          <b>
            La Villa
          </b>
        </p>
        <p>
          La villa rose est une villa de caractère constituée de pièces portes et
          fenêtres.&nbsp;In augue massa, malesuada quis luctus scelerisque, consectetur
          eget lacus. Suspendisse potenti.
        </p>
        <p>
          <a href="http://example.com">
            En savoir plus
          </a>
        </p>
      </div>
    </div>
    <div class="span4">
      <div>
        <p>
          <b>
            Les Environs
          </b>
        </p>
        <p>
          La villa est située à Anse Zouave, une cité de caractère. In augue massa,
          malesuada quis luctus scelerisque, consectetur eget lacus. Suspendisse
          potenti.
        </p>
        <p>
          <a href="http://example.com">
            En savoir plus
          </a>
        </p>
      </div>
    </div>
    <div class="span4">
      <div>
        <p>
          <b>
            Tarifs et Disponibilités
          </b>
        </p>
        <p>
          A partir de 60€/semaine.
        </p>
        <p>
          <a href="http://example.com">
            Consulter les disponibilités
          </a>
        </p>
      </div>
    </div>
  </div>

